.banner-top {
    pointer-events: none;
}

ul {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #DAE0E7;
    list-style-type: none;
    padding:0px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }

  .tab {
    float: left;
    height: 44px;
    margin: 0 8px -1px 0;
    border: 1px solid #DAE0E7;
    background: #F9F9F9;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    padding: 10px;
  }

  .tab, .tab a {
    transition: all .25s;
  }
  
  .tab a {
    display: inline-block;
  }
  
  .tab a:first-child {
    padding: 12px 2px 12px 16px;
   white-space: nowrap;
  }

  .active a{
      color: blue;
  }

  .top-header{
    margin-top: -3px;
    height: 40px;
    background-color: #8e9292;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color: #474c4c;
  }